@model List<WebApplication7.Models.Quiz>

@{
    ViewBag.Title = "Quiz List";
}

<h2>Quiz List</h2>

<table>
    <tr>
        <th>Quiz Name</th>
        <th>Test Time</th>
    </tr>
    @foreach (var quiz in Model)
    {
        <tr>
            <td>@quiz.QuizName</td>
            <td>@quiz.QuizTime</td>
        </tr>
    }
</table>
